<<<<<<< HEAD
.kissinger {
	margin: 0 auto;
	width: 60%;
	padding-top: 50px;
	text-align: center;
}
=======
.kissinger {
	margin: 0 auto;
	width: 60%;
	padding-top: 50px;
	text-align: center;
}
>>>>>>> 430ca1fdfc540c7fdcfd27762fa066f8d8180230
