.footer {
    background-color: #333;
    color: white;
    padding: 20px;
}

.footerContent {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.footerRow {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footerColumn {
    flex: 1;
    margin: 10px;
    padding: 10px;
}

.footerList {
    list-style-type: none;
    padding: 0;
}

.footerList li {
    margin-bottom: 10px;
}

.contactTitle {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
}

.d-flex {
    display: flex;
    align-items: center;
    gap: 20px;
}

.footerColumn .d-flex img {
    height: 100px; /* Ensures the logos have the same height */
    width: auto;  /* Preserves the aspect ratio */
    object-fit: contain; /* Ensures the image fits within the bounds */
}

/* Mobile Styles */
@media (max-width: 768px) {
    .footerRow {
        flex-direction: column;
        align-items: center;
    }

    .footerColumn {
        flex: 1 1 100%;
        margin: 10px 0;
        text-align: center;
    }

    .socialIcons {
        justify-content: center;
    }

    .footerColumn .d-flex img {
        height: 40px; /* Slightly smaller logos on mobile for better fit */
    }
}
